/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/indices
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
/public/js
/public/css
/public/fonts
/public/vendor

resources/lang/ar/
resources/lang/az/
resources/lang/es/
resources/lang/fa/
resources/lang/fr/
resources/lang/he/
resources/lang/id/
resources/lang/ja/
resources/lang/ko/
resources/lang/ms/
resources/lang/nl/
resources/lang/pl/
resources/lang/pt-BR/
resources/lang/pt/
resources/lang/ru/
resources/lang/tr/
resources/lang/uk/
resources/lang/ur/
resources/lang/zh-TW/





