// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';


// markdown editor 「simplemde」
@import "~simplemde/dist/simplemde.min.css";
@import "markdown_editor";

@import '~highlight.js/scss/tomorrow-night-eighties';

@import "~vue-multiselect/dist/vue-multiselect.min.css";


/* universal */

body {
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 14px;
    color: #404040;
    margin-bottom: 60px;

    h1 {
        font-weight: 600;
        font-size: 1.9em;
    }
}

/* header */

.navbar-static-top {
    border-color: #e7e7e7;
    background-color: #fff;
    box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    border-top: 4px solid #93d5dc;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 40px;
    margin-top: 0px;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

.markdown-body {
    font-size: 16px;
    line-height: 1.8;

    h2 {
        font-weight: 600;
        font-size: 1.42em;
        margin: 1.42em 0 0.5em;
    }
    h3,h4,h5,h6 {
        font-size: 1.2em;
        font-weight: 600;
        margin: 1.42em 0 0.5em;
    }

    image {
        max-width: 100%;
    }

    pre {
        code {
            padding: 1.1em;
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #000;

    .container {
        padding-right: 15px;
        padding-left: 15px;

        p {
            margin: 19px 0;
            color: #c1c1c1;

            a {
                color: inherit;
            }
        }
    }
}

/* Post Index Page */
.posts-index-page {
    .post-list {
        .nav > li > a {
            position: relative;
            display: block;
            padding: 5px 14px;
            font-size: 0.9em;
        }

        a {
            color: #444444;

            &:hover {
                text-decoration: none;
            }
            &:visited {
                color:#a2a2a2;
            }
        }

        .post-title {
            font-size: 15px;
        }
        .post-time {
            color: #a8a8a8;
            font-size: 13px;
        }


        hr {
            margin-top: 12px;
            margin-bottom: 12px;
            border: 0;
            border-top: 1px solid #dcebf5;
        }
    }

    .media {
        align-items: center;
        justify-content: center;

        .media-left {
            margin-right: 10px;
        }
    }
}

.form-control input {
    min-height: 40px;
    display: block;
    padding: 8px 40px 0 8px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background: #fff;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    .hide-on-mobile {
        display: none !important;
    }
}

.icon {
    width: 2em; height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/*
 * Simple Markdown
 */

.CodeMirror-fullscreen,
.editor-preview-side,
.editor-toolbar.fullscreen {
    z-index: 1030;
}

.editor-preview {
    z-index: 1030;
}

#accordion {
    .card-header {
        padding: 0.75em 1em;
        background: transparent;
    }
    h5 {
        div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0;
            font-weight: 600;
            -webkit-transition: background .1s ease,color .1s ease;
            transition: background .1s ease,color .1s ease;

            span {
                font-size: 16px;
                line-height: 17px;
                height: 16px;
            }

            .icon {
                width: 1.8em;
                height: 1.8em;
            }
        }

    }

}

/** placeholder color **/
input, select {
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #ADADAD !important;
        opacity: 1 !important; /* Firefox */
        font-size: 14px;
    }

    &::-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #ADADAD !important;
        font-size: 14px;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
        color: #ADADAD !important;
        font-size: 14px;
    }
}


.form-control {
    min-height: 40px;
    display: block;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background: #fff;
    font-size: 14px;
}

.toc-container {
    padding: 1.25rem 0.8rem;
}
